---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CustomCursor from "../components/cursor/CustomCursor.astro";
---

<Layout
	title="Portafolio de davidbc01 - Estudiante de Desasrrollo de Aplicaciones Web"
	description="Portafolio desarrollado con Astro por davidbc01, estudiante de desarrollo de aplicaciones web."
>
	<Navbar />
	<main class="px-4">
		<SectionContainer id="#" className="py-16 md:py-36">
			<Hero />
		</SectionContainer>


		<CustomCursor />
	</main>
</Layout>
