<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row max-w-screen-sm">
    <div class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p class="text-pretty">
            Me llamo David conocido también como davidbc01, y como estudiante
            de desarrollo de aplicaciones web, <strong>mi interés abarca tanto
            el FrontEnd como el BackEnd</strong>, aunque tengo una inclinación particular
            hacia el FrontEnd, dado que fue mi primer enfoque de 
            aprendizaje. Me desenvuelvo con <strong>lenguajes vanilla y con la
            ayuda de frameworks</strong>.
        </p>

        <p class="text-pretty">
            Disfruto tanto del <strong>trabajo en equipo como de la autonomía
            individual</strong>, y estoy motivado para aprender y crecer
            profesionalmente en todo lo que pueda.
        </p>
    </div>
</article>
