---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={href} class="bg-blue-300 text-blue-500 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-500 border border-blue-400 inline-flex items-center justify-center gap-2">
    <slot />
</a>
