<style>
    textarea {
        field-sizing: content !important;
        resize: none !important;
    }
</style>

<form action="https://formspree.io/f/mvoewber" method="post" class="space-y-8">
    <div class="pt-2">
        <label for="email" class="block mb-2 font-normal text-gray-700 dark:text-gray-300 cursor-none">
            Correo electrónico
        </label>
        <input type="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-zinc-700 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500 cursor-none" required>
    </div>

    <div>
        <label for="message" class="block mb-2 font-normal text-gray-700 dark:text-gray-300 cursor-none">
            Mensaje
        </label>
        <textarea id="message" name="message" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-zinc-700 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500 cursor-none" required></textarea>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="py-2 px-4 text-sm font-medium text-center text-white rounded-lg bg-zinc-700 sm:w-fit hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:bg-zinc-600 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800">
            Enviar
        </button>
    </div>        
</form>
