<ol class="relative border-s border-blue-400 dark:border-blue-600">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            2015 - 2020 (Titulado)
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Educación Secundaria Obligatoria
        </h3>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
            IES San Fernando
        </h4>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2020 - 2022 (Titulado)
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Ciclo Formativo de Grado Medio, Sistemas Microinformáticos y Redes
            </h3>
            <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
                IES Castelar
            </h4>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2022 - 2024 (En curso)
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Ciclo Formativo de Grado Superior, Desarrollo de Aplicaciones Web
            </h3>
            <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
                IES Castelar
            </h4>
        </li>
    </li>
</ol>