<ol class="relative border-s border-blue-400 dark:border-blue-600">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            Marzo - Junio 2022
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Formación en Centros de Trabajo
        </h3>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
            ARRAM Consultores SL
        </h4>
        <p class="mb-4 mt-2 text-base font-normal text-pretty text-gray-500 dark:text-gray-400">
            Durante 400 horas, realicé prácticas de grado medio en Arram Consultores, Badajoz.
            Adquirí experiencia en perfiles de usuario, servidores, seguridad informática,
            gestión documental y recursos empresariales. Además, realicé un curso en NetSupport y
            trabajé en la configuración de smartphones. Bajo la guía de mi supervisor, también me
            familiaricé con Python, VueJS, MySQL y Unity. Estas experiencias enriquecieron mi conocimiento
            y preparación profesional para futuras oportunidades en tecnología y administración empresarial.
        </p>
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            Enero - Marzo 2024
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Formación Dual en Empresa
        </h3>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
            Cedesa Digital SL
        </h4>
        <p class="mb-4 mt-2 text-base font-normal text-pretty text-gray-500 dark:text-gray-400">
            En estos tres meses, realicé la formación dual de grado superior en Cedesa Digital, Badajoz.
            Durante este tiempo, trabajé en la creación de una aplicación web personalizada para la gestión de
            reservas. El proyecto está desarrollado con Laravel, Blade, TailwindCSS y MySQL. Además, trabajé con
            distintas APIs, como Google API Client y Nuki API. También aprendí a trabajar y manejar PDFs con PHPWord
            y DomPDF. Estas prácticas me permitieron adquirir experiencia en el desarrollo de aplicaciones web y en
            la gestión de proyectos, así como mejorar mis habilidades de trabajo y comunicación.
        </p>
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            Marzo - Junio 2024
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Formación en Centros de Trabajo
        </h3>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
            Cedesa Digital SL
        </h4>
        <p class="mb-4 mt-2 text-base font-normal text-pretty text-gray-500 dark:text-gray-400">
            Durante 400 horas, realicé prácticas de grado superior en Cedesa Digital, Badajoz.
            En este periodo, seguí trabajando en el proyecto de la aplicación web de gestión de reservas, 
            además de colaborar en otros proyectos de la empresa. La experiencia adquirida en este periodo
            y en el anterior me ha permitido mejorar mis habilidades de programación, diseño y gestión de proyectos.
        </p>
    </li>
</ol>
