<ol class="relative border-s border-blue-400 dark:border-blue-600">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-600 dark:bg-blue-500"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            Marzo - Junio 2022
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Formación en Centros de Trabajo
        </h3>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white">
            ARRAM Consultores SL
        </h4>
        <p class="mb-4 mt-2 text-base font-normal text-pretty text-gray-500 dark:text-gray-400">
            Durante 400 horas, realicé prácticas de grado medio en Arram Consultores, Badajoz.
            Adquirí experiencia en perfiles de usuario, servidores, seguridad informática,
            gestión documental y recursos empresariales. Además, realicé un curso en NetSupport y
            trabajé en la configuración de smartphones. Bajo la guía de mi supervisor, también me
            familiaricé con Python, VueJS, MySQL y Unity. Estas experiencias enriquecieron mi conocimiento
            y preparación profesional para futuras oportunidades en tecnología y administración empresarial.
        </p>
    </li>
</ol>