---
import ThemeToogle from "./ThemeToogle.astro";
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="p-2 rounded-full mt-0 mb-4 mx-6 backdrop-filter backdrop-blur-md bg-opacity-20 transition duration-300 ease-in-out">
        <div class="container mx-auto flex justify-center items-center text-sm font-medium">
            <div class="lg:flex items-center space-x-4">
                <a href="#experiencia" class="text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-500 cursor-none pl-4">Experiencia</a>
                <a href="#educacion" class="text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-500 cursor-none">Educación</a>
                <a href="#proyectos" class="text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-500 cursor-none">Proyectos</a>
                <a href="#sobre-mi" class="text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-500 cursor-none">Sobre mí</a>
                <a href="#contacto" class="text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-500 cursor-none">Contacto</a>
                <ThemeToogle />
            </div>
        </div>
    </nav>
</header>

<script>
    /*-Modificador del navbar-*/
    const nav = document.querySelector('nav');

    function handleScroll() {
        if (window.scrollY > 20) {
            if (nav) {
                nav.classList.add('nav-scrolled', 'bg-white', 'backdrop-blur-sm');
            }
        } else {
            if (nav) {
                nav.classList.remove('nav-scrolled', 'bg-white', 'backdrop-blur-sm');
            }
        }
    }

    window.addEventListener('scroll', handleScroll);
</script>

